/* 414 */
@media screen and (min-width: 414px){ 
    html{ font-size: 55.2px; } 
    .container-down .container-text > div:last-child{
        width: 1.9rem;
    }
    .overhidden{
        width: 1.85rem;
    }
    /* =========== */
    .mcds-date{
        width: 2.45rem;
    }
}
/* 624 */
@media screen and (min-width: 624px) {
    html{ font-size: 83.2px;}
    .container-down .container-text > div:last-child{
        width: 1.75rem;
    }
    .overhidden{
        width: 1.7rem;
    }
    /* =========== */
    .mcds-date{
        width: 2.25rem;
    }
}
/* 标准 */
@media screen and (min-width: 750px) {
    html{ font-size: 100px;}
}
/* 768 */
@media screen and (min-width: 768px){ 
    html{ font-size: 102.4px; } 
}
/* 1024 */
@media screen and (min-width: 1024px){ 
    html{ font-size: 136.533px; } 
}
/* 1366 */
@media screen and (min-width: 1366px){ 
    html{ font-size: 182.133px; }
}
/* 最小值 */
html{
    min-width: 375px;
}
